body {
width: 100%;
margin: 0;
background-color: black;
}

table, th, td {
border-collapse: collapse;
border: 1px solid white;
padding: 1em;
color: white;
}
    
h1, h2, p, li {
color: white;
padding: 10px;
}
    
h1 {
padding: 20px;
}

.poem {
width: 100%;
margin: 0;
background-image: url("poe.jpg");
background-size: 100%;
}

.poem a {
    padding-left: 20px;
    font-size: 18px;
    color: white;
}

.lenore {
width: 100%;
margin: 0;
background-image: url("lenore.jpg");
background-size: 100%; 
background-blend-mode: lighten;
}

.lenore h1 {
    color: black;
}

.lenore h2 {
    color: black;
}

.lenore p {
    color: black;
}

.lenore li {
    color: black;
}

.lenore a {
    padding-left: 20px;
    font-size: 18px;
    color: black;
}