article, aside, details, figcaption, figure, footer, header, menu, nav, section
	{
	display: block;
	}
	
*	
	{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	}
	
img 
	{
	max-width: 100%;
	}
	
body
	{
	font-family: verdana, arial, sans-serif; 
	}
	
	
header h1	
	{
	font-size: 1.9em;
	}
	
h1	
	{
	font-size: 1.5em;
	}


h2	
	{
	font-size: 1.2em;
	}	
	

/* CONTAINER STYLES*/

#container
	{
	max-width: 62.5em; /* 1000px */
	margin-left: auto;
	margin-right: auto;
	}

.col_nav
	{
	width: 25%;
	padding: 2% 2% 3% 0;
	float: left;
	}
		
.col_content
	{
	float: left;
	width: 50%;
	padding: 2% 2% 3% 0;
	}
	
.col_oration
	{
	float: left;
	width: 75%;
	padding: 2% 2% 3% 0;
	}
		
.col_aside
	{
	float: left;
	width: 25%;
	padding: 2% 2% 3% 0;
	}		
		

/* NAV MENU STYLES */


nav ul
	{ 
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	}

nav a
	{
	text-decoration: none;
	color: #000000;
	}

nav a:visited
	{
	color: #000000;
	}		


nav a:hover
	{
	text-decoration: underline;
	color: #6699ff;
	}
	
nav ul li
	{
	font-weight: bold;
	}	

nav ul li a
	{
	font-weight: normal;
	}
	
/*  MENU EXPANDER */

.smallmenu
	{
	display: none;
	font-size: 1em;
	}



/* FOOTER STYLES */

footer 
	{
	clear: both;
	}

/* FLOATS */

.left
	{
	float: left;
	margin-right: 1em;
	}
	


@media screen and (max-width: 60em) {
	
.col_nav		
	{
	width:95%;
	float: none;
	}
	
.col_content
	{
	clear: left;
	width: 70%;
	}
	
.col_oration
	{
	clear: left;
	width: 100%;
	}	

.col_aside	
	{
	width: 30%;
	}
	
	
header h1 
	{
	font-size: 1.5em;
	margin-top: 0px;
	}	
	
	
h1 
	{
	font-size: 1.2em;
	margin-top: 0px;
	}
	
h2 
	{
	font-size: .9em;
	margin-top: 0px;
	}
		

.smallmenu	
	{
	display:block;
	text-align: left;
	padding-top: .5em;
	border-top: 1px dotted #000000;
	}	
					
.smallmenu a
	{
	color: #000000;	
	font-size: 1em;
  	font-weight: bold;
	text-decoration: none;
	}	
	
nav.expander li
	{
	display: block;
	}				

.expander
	{
	display: none
	}	
	
	

}



@media screen and (max-width: 50em) {
	
.col_nav
	{
	width: 100%;
	float: none;
	}
	
.col_content
	{
	width:95%;
	float: none;
	}
	
.col_oration
	{
	width:95%;
	float: none;
	}	
	

.col_aside	
	{
	width:95%;
	float: none;
	}

}



@media only screen and (min-width : 61em) {

.expander	{display: block !important}  /* just in case the menu wants to stay at display:none when viewport grows wider */


}

