article, aside, details, figcaption, figure, footer, header, menu, nav, section
	{
	display: block;
	}
	
*	
	{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	}
	
img 
	{
	max-width: 100%;
	}
	
body
	{
	font-family: verdana, arial, sans-serif;
	}
	
	
header h1	
	{
	font-size: 1.9em;
	}
	
h1	
	{
	font-size: 1.5em;
	}


h2	
	{
	font-size: 1.2em;
	}	
	

/* CONTAINER STYLES*/

#container
	{
	max-width: 62.5em; /* 1000px */
	margin-left: auto;
	margin-right: auto; 
	}
	
.col_nav
	{
	width: 25%;
	padding: 2% 2% 3% 0;
	float: left;
	}
		
.col_content
	{
	float: left;
	width: 50%;
	padding: 2% 2% 3% 0;
	}
		
.col_aside
	{
	float: left;
	width: 25%;
	padding: 2% 2% 3% 0;
	}		
		

/* NAV MENU STYLES */

nav ul
	{ 
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	}

nav a
	{
	text-decoration: none;
	color: #000000;
	}

nav a:visited
	{
	color: #000000;
	}		


nav a:hover
	{
	text-decoration: underline;
	color: #6699ff;
	}
	
nav ul li
	{
	font-weight: bold;
	}	

nav ul li a
	{
	font-weight: normal;
	}


/* FOOTER STYLES */

footer 
	{
	clear: both;
	}

/* FLOATS */

.left
	{
	float: left;
	margin-right: 1em;
	}
	


@media screen and (max-width: 60em) {
	
.col_nav	
	{
	width:25%;
	float: left;
	}
	
.col_content
	{
	float: left;
	width: 75%;
	}

.col_aside	
	{
	float: none;
	clear: left;
	width: 100%
	}
	
	
header h1 
	{
	font-size: 1.5em;
	margin-top: 0px;
	}	
	
	
h1 
	{
	font-size: 1.2em;
	margin-top: 0px;
	}
	
	
h2 
	{
	font-size: .9em;
	margin-top: 0px;
	}


}



@media screen and (max-width: 45em) {
	
.col_nav		
	{
	float: none;
	width: 100%
	}
	
.col_content
	{
	width:95%;
	float: none;
	}

.col_aside	
	{
	width:95%;
	float: none;
	}
	
nav ul
	{
	text-align: center;
	}	
	
	
nav ul li
	{
	border-top: 1px solid #000;
	padding: .3em 0 .3em 0;
	}
	

nav ul li:last-child
	{
	border-bottom: 1px solid #000;
	}

}

